
# Ignore PostgreSQL data directory
# This directory contains the database files and should not be tracked by Git.
./postgres-data/
./PDFs/
./*/node_modules/
# Ignore log files 
*.log
# Ignore temporary files
*.tmp
# Ignore environment configuration files
.env
./*/package-lock.json